body {
    margin: 0px;
    height: 0px;
    border: 0px;
    padding: 0px;
}

nav {
    background-color: rgb(98, 98, 214);
}

nav ul li {
    list-style-type: none;
    height: 0;
    margin: 0;
    display: inline-block;

}